:root {
    --basic-color: #FFFFFF;
    --basic-font-family: Roboto;
    --basic-font-size: 12px;
    --basic-line-height: 14px;
    --basic-font-color: #1B1A17;
    --header-font-size: 14px;
    --header-line-height: 16px;
    --header-font-color: #555248;
    --second-font-family: Playfair Display;
    --section-h2-font-size: 32px;
    --section-h2-line-height: 43px;


}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    background-color: var(--basic-color);
    font-family: var(--basic-font-family), sans-serif;
    font-size: var(--basic-font-size);
    line-height: var(--basic-line-height);
    color: var(--basic-font-color);
}

a {
    text-decoration: none;
    color: #555248;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

h2, .advantages__title, .news-company__text {
    font-family: var(--second-font-family), sans-serif;
    color: var(--basic-font-color);
    font-weight: normal;
}

.promo__link, .advantages__link {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 205px;
    height: 64px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.visually-hidden {
    display: none;
}

/* ====== */

.page-header .wrapper, .page-header__main-nav, .main-nav__list, .user-nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--header-font-size);
    line-height: var(--header-line-height);
    color: var(--header-font-color);
}

.page-header .wrapper {
    margin-top: 28px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.wrapper {
    max-width: 1169px;
    width: 100%;
    margin: 0 auto;
}
.page-header__main-nav {
    max-width: 792px;
    width: 100%;
    justify-content: space-between;

}

.main-nav__list {
    max-width: 422px;
    width: 100%;
    justify-content: space-between;
}

.user-nav__list {
    column-gap: 23px;
}

/* ====== */

.promo .wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 768px;
    max-width: 986px;
}

.promo {
    height: 786px;
    overflow: hidden;
}

.promo__title, .promo__sub-title  {
    font-family: var(--second-font-family), sans-serif;
    color: var(--basic-font-color);
}
.promo__title {
    position: relative;
    font-size: 45px;
    line-height: 60px;
    font-weight: normal;
    white-space: nowrap;
}
.promo__title::before {
    position: absolute;
    content: " ";
    width: 50px;
    height: 0px;
    border: 1px solid #8B8371;
    bottom: 22.5px;
    left: -65px;
}

.promo__sub-title {
    font-size: 30px;
    line-height: 40px;
    /* margin-top: 16px; */
}

.promo__description {
    font-size: var(--header-font-size);
    line-height: 21px;
    margin-top: 16px;
    color: rgba(27, 26, 23, 0.82);
}

.promo__link {
    margin-top: 64px;
    background: #444240;
    color: var(--basic-color);
}

.elipse {
    position:absolute;
    right: 202px;
    top: -78px;
    width: 496px;
    height: 945px;
    border-top-right-radius: 200% 100%;
    border-bottom-right-radius: 200% 100%;
    background: linear-gradient(180deg, rgba(234, 227, 212, 0) 0%, #EAE3D4 100%);
    mix-blend-mode: normal;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.promo__img {
    position:absolute;
    right: 0;
    top: 0;
}

.promo__price {
    position:absolute;
    right: 510px;
    top: 130px;
    font-family: Prata, sans-serif;
}

.promo__price::after {
    position: absolute;
    content: " ";
    width: 50px;
    height: 0px;
    border: 1px solid #8B8371;
    bottom: 8px;
    left: 65px;
}

.promo__characteristics {
    position:absolute;
    right: -62px;
    bottom: 142px;
    font-family: Prata, sans-serif;
}

.promo__characteristics::before {
    position: absolute;
    content: " ";
    width: 50px;
    height: 0px;
    border: 1px solid #8B8371;
    bottom: 8px;
    left: -65px;
}

.logo__img {
    width: 103px;
    height: 26px;
}

.promo__img {
    width: 502px;
    height: 804px;
}

/* ====== */

.popular__header {
    height: 62.5px;
    margin-top: 68px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.popular__title {
    font-size: var(--section-h2-font-size);
    line-height: var(--section-h2-line-height);
}

.popular__show-more {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
}

.popular__show-more::after {
    position: absolute;
    content: " ";
    width: 101px;
    height: 0px;
    border: 1px solid #C4C0B6;
    bottom: -11.5px;
    left: 0;
}

.popular__list {
    display: flex;
    flex-direction: row;
    margin-top: 25.5px;
    margin-bottom: 86px;
    justify-content: space-between;
    column-gap: 30px;
}

.popular__card {
    position: relative;
    background: #FDFDFB;
}

.card__title {
    padding-top: 20px;
    margin-left: 36px;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(27, 26, 23, 0.82);
}

.card__price {
    display: block;
    margin-top: 10px;
    margin-left: 36px;
    font-family: Prata, sans-serif;
}

.card__link {
    position: absolute;
    font-family: var(--second-font-family), sans-serif;
    font-size: 16px;
    line-height: 21px;
    bottom: 38px;
    left: 88px;
}
.card__link::before {
    position: absolute;
    content: " ";
    width: 30px;
    height: 0px;
    border: 1px solid #8B8371;
    bottom: 8px;
    left: -48px;
}

.card__img {
    margin: 75px 30px;
    height: auto;
    max-width: 313px;
    border-right: 2px solid rgb(237, 226, 226);
    border-radius: 100%;
}

/* ====== */

.advantages .wrapper {
    position: relative;
    background: linear-gradient(to right , #F7F5EF 34%, #FDFDFB 34%, #FDFDFB 50%);
    overflow: hidden;
}

.advantages__item {

    display: flex;
    flex-direction: row;
    justify-content: center;


}

.advantages__left {
    position: relative;
    margin-top: 52px;
}

.advantages__right {
    margin-top: 140px;
    margin-left: 70px;
}

.advantages__title {
    font-size: var(--section-h2-font-size);
    line-height: var(--section-h2-line-height);
}

.advantages__description {
    margin-top: 38px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.advantages__link {
    margin-top: 45px;
    background: #D4B098;
    color: var(--basic-color);
}

.advantages__slider-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin: 20px 0;
}

.advantages__elipse-small {
    position: absolute;
    width: 365.16px;
    height: 365.16px;
    transform: rotate(-28.35deg);
    border: 2px solid rgb(237, 226, 226);
    border-radius: 100%;
    top: -140px;
    right: -200px;
}

.advantages__elipse-big {
    position: absolute;
    width: 744.38px;
    height: 744.38px;
    transform: rotate(-28.35deg);
    border: 2px solid rgb(237, 226, 226);
    border-radius: 100%;
    top: 0;
    right: -640px;
}

.advantages__button-right {
    width: 6px;
    height: 6px;
    border-top: 1px solid #1B1A17;
    border-right: 1px solid #1B1A17;
    transform: rotate(-135deg);
}

.advantages__button-left {
    width: 6px;
    height: 6px;
    border-top: 1px solid #1B1A17;
    border-right: 1px solid #1B1A17;
    transform: rotate(45deg);
}

.slider-control__position {
    margin: 0 20px;
    font-family: Prata, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgba(27, 26, 23, 0.82);
}

/* ====== */

.news-company .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 81px;
    margin-bottom: 90px;
}

.news-company__text {
    margin-top: 140px;
    font-size: var(--section-h2-font-size);
    line-height: var(--section-h2-line-height);
}

.news-company__description {
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
}

.news-company__description span {
    font-weight: bold;
}

.socials__list {
    margin-top: 118px;
    display: flex;
    flex-direction: row;
    column-gap: 18px;
}
.socials__link {
    display: block;
    max-height: 23px;
    max-width: 23px;
}

.news-company__right {
    display: grid;
    grid-template-columns: 1 1;
    grid-template-rows: 1 1;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.news-company__right a:nth-child(1) {
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.news-company__right a:nth-child(2) {
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.news-company__right a:nth-child(3) {
    display: block;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.news-company__right img {
    height: 100%;
    object-fit: cover;
}

/* ====== */

.page-footer {
    background: #444240;
}

.page-footer .wrapper {

    display: flex;
    flex-direction: row;

}

.page-footer-column--logo {
    margin-top: 63px;
}

.page-footer__logo {
    margin-bottom: 32px;
}

.page-footer-links {
    margin-top: 79px;
    margin-bottom: 67px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-grow: 1;
}

.page-footer h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-bottom: 33px;
    color: #FFFFFF;
}

.page-footer a {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.75);
}

.page-footer ul, .page-footer__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
